<div class="modal fade" id="new_movie_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajoutez un film à votre <%= list.name %> list</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <%= simple_form_for [list, bookmark] do |f| %>
        <div class="modal-body">
          <%= f.association :movie, required: false, collection: Movie.all.order(:title), prompt: "Sélectionnez un film", input_html: { data: { controller: "tom-select" } } %>
          <%= f.input :comment, placeholder: "Entrez un commentaire sur le film" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Ajouter un film", class: "btn btn-flat" %>
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Back</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
